---
---

html, body {
    padding: 0;
    font-family: "Lucida Console", "Courier", "monospace";
    font-size: 20px;
    color: #000;
}

html {
    height: 100%;
    margin: 0px;
    background: center/95% 90% no-repeat #fff url("/assets/img/hierve.jpg");
}

body {
    margin: 15px 10px;
}

h1 {
    color: #ac5216;
}