---
---

$theme: #ac5216;
$bg: "img/hierve.jpg";
$bg2x: "img/hierve@2x.jpg";

html, body {
    font-family: "Lucida Console", "Courier", "monospace";
    font-size: 20px;
    padding: 0;
    margin: 0;
    color: #000;
}

html {
    height: 100%;
    margin: 0px;

    &:before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: center/100% 100% no-repeat #fff url($bg);
    }
}

main {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    padding: 30px 0;
    transform: translate(-50%, -50%);
    background-image: linear-gradient(to right,
        transparentize(#fff, 0.9),
        transparentize(#fff, 0.1),
        transparentize(#fff, 0.9));
    text-align: center;
}

h1,
h2,
p {
    &:hover {
        cursor: default;
    }
}

h1 {
    text-shadow: 2px 2px 5px $theme;
}

a {
    color: #000;
    &:hover {
        cursor: pointer;
        color: #fff;
        text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
}

@media only screen and (max-width: 768px) {
    html {
        &:before {
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
        }
    }
}

@media only screen and (-moz-min-device-pixel-ratio: 1.5), 
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-devicepixel-ratio: 1.5),
only screen and (min-resolution: 1.5dppx) {
    html {
        &:before {
            background: center/100% 100% no-repeat #fff url($bg2x);
        }
    }
}